:root{
    --tipografia: Arial, Helvetica, sans-serif;
    --verde: teal;
    --verde2: rgb(0, 76, 76);
    --verdet: rgba(0, 128, 128, 0.315);
    --blanco: #fff;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--tipografia);
}

* a {
    text-decoration: none;
}

.cabecera {
    background-color: var(--verdet);
    height: 70px;
    width: 100%;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
    position: fixed;
}

.cabecera .menu{
    height: 100%;
    width: 100%;
}

.cabecera .menu .elementos a{
    color: #FFF;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 70px;
    transition: .5s;
}

.cabecera .menu .elementos a:hover{
    background-color: var(--verde2);
    font-size: 30px;
}

@media(max-width:700px){
    .cabecera .menu .elementos a{
        display: none;
    }
}

.cabecera .menu .icono{
    font-size: 25px;
    color: #FFF;
    position: absolute;
    right: 0px;
    top: 24px;
    display: none;
}

@media(max-width:700px){
    .cabecera .menu .icono{
        display: block;
    }
}

.cabecera .menu .elementos{
    float: right;
}

@media(max-width: 700px){
    .cabecera .menu .elementos{
    display: none;
 }
}

.cabecera .menu .elementos li{
    display: inline-block;
}

.cabecera .menu .logo{
    position: absolute;
    width: 70px;
    height: 100%;
    margin-left: 20px;
}

.cabecera .menu .logo img{
    width: 70px;
    transition: .5s;
}

.cabecera .menu .logo img:hover{
    width: 100px;
}

.cabecera .menu .icono{
    font-size: 25px;
    color: #FFF;
    position: absolute;
    right: 20px;
    top: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width: 700px){
    .cabecera .menu .icono{
        display: block;
    }
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(https://everwallpaper.com/cdn/shop/files/ring-nubula-wallpaper-mural.jpg?v=1654148245&width=1500);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.hero center #principal{
    color: var(--blanco);
    margin-bottom: 50px;
    font-size: 55px;
    margin-top: 20%;
    transition: .3s;
}

@media(max-width: 700px){
    .hero center #principal{
        font-size: 35px;
    }
}

.hero center p{
    width: 400px;
    font-size: 30px;
    text-align: center;
    color: var(--blanco);
    transition: .3s;
}

@media(max-width: 700px){
    .hero center p{
        font-size: 20px;
        width: 250px;
    }
}

.hero center .caja{
    background-color: #00000080;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    transition: .3s;
    
}

@media(max-width: 700px){
    .hero center .caja{
        font-size: 20px;
        width: 300px;
    }
}

.menu-mobile{
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color:var(--verdet);
    display: none;
    margin-right: -300px;
    transition: .5s;
}

@media(max-width: 700px){
    .menu-mobile{
        display: block;
    }
}

.elementos-mobile{
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.elementos-mobile li{
    padding: 10px 0px;
    width: 100%;
}

.elementos-mobile li:hover{
    background-color: var(--verde2);
}

.elementos-mobile li a{
    color: #FFFfff;
    font-size: 30px;
}

#barras{
    display: none;
}

#barras:checked ~ .menu-mobile{
    margin-right: 0px;
}