:root{
    --tipografia: Arial, Helvetica, sans-serif;
    --verde: teal;
    --verde2: rgb(0, 76, 76);
    --verdet: rgba(0, 165, 165, 0.377);
    --verdet2: rgba(0, 190, 190, 0.301);
    --blanco: #fff;
    --gris: #8d8d8d71;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--tipografia);
    list-style: none;
}

* a {
    text-decoration: none;
}

.cabecera{
    background-color: var(--gris);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.cabecera .menu{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.cabecera .menu .logo img{
    width: 70px;
}

.contenedor-menu{
    display: flex;
    gap: 20px;
}

.cabecera .menu .elementos{
    width: 300px;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    gap: 20px;
}
.cabecera .menu .elementos li a{
    color: var(--blanco);
    font-weight: 700;
}

.contenedor-menu .icono{
    display: none;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 700px){
    .contenedor-menu .icono{
    display: block;
    }

    .cabecera .menu .elementos{
        display: none;
    }

    .menu-mobile{
        display: ;
    }
}

#barras{
    display: none;
}

.menu-mobile{
    display: flex;
    background-color: var(--gris);
    width: 300px;
    height: 100vh;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-right:-300px;
    transition: .5s;
}

.menu-mobile .elementos-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu-mobile .elementos-mobile li a{
    color: var(--blanco);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

#barras:checked ~ .menu-mobile{
    margin-right: 0PX;
}

@media(min-width 700px){
    .menu-mobile {
        display: none;
    }
}



.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(https://i.pinimg.com/originals/ed/4d/5b/ed4d5b16f666d828f175728ea50d2637.jpg);
    background-position: center center ;
    background-repeat: no-repeat ;
    background-size:cover ;
    justify-content: center ;
    align-items: center;
    position: absolute;
    z-index: -10;
}

.hero .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principal , .hero .contenedor .caja p{
    color: var(--blanco);
}
